<br><br><br>

<div class="container">
  <br>
  <div class="row" align="center">


    <div class="col-md-12">
      <div class="card">

        <form class="example col-md-4" >
          <div class="form-group">
            <h6>Pedidos despues de la siguiente fecha</h6>
            <input type="date" class="form-control" placeholder="Buscar por fecha" name="search" [(ngModel)]="fecha">

            <button class="btn btn-outline-primary" type="submit"(click)="impedanciaEstadisticas(fecha)"><i class="fa fa-search"></i>Buscar</button>
          </div>

        </form>
        <div class="card-body">
          <h5 class="card-title">Pedidos por periodos de tiempo</h5>
          <h6>Total de cantidad de pedidos en base al filtro : {{totalPedidos}}</h6>
          <div style="background: white">
            <h6>Estas fueron las comidas encontradas en todos los pedidos</h6>
            <p-chart *ngIf="cargo" type="doughnut" [data]="datosEstadisticos"></p-chart>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br>
</div>
