<hr>
<hr>
<br>

<div class="container">

  <div class="card">

    <div class="card-body">

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2" align="center">
            <br>
            <table class="table table-borderless text-center">
              <tbody>
              <tr>
                <td>

                  <img
                    src="https://img.freepik.com/vector-gratis/lado-soleado-arriba-huevo-frito-grafico-ilustracion_53876-9119.jpg?size=338&ext=jpg"
                    class="card-img-top rounded-circle img-thumbnail" alt="...">

                </td>
              </tr>
              <tr>

                <h6>{{cliente.email}}</h6>

              </tr>
              <tr>

                <br>
                <button type="button" class="btn btn-success btn-lg btn-block" routerLink="/user/perfil">EDITAR</button>
                <br>

              </tr>
              <tr>

                <button type="button" class="btn btn-danger btn-lg btn-block" routerLink="/user/perfil/pedidos" disabled="true">PEDIDOS</button>

              </tr>
              </tbody>
            </table>

          </div>
          <div class="col-md-8">

            <p-table [columns]="cols" [value]="pedidos" [responsive]="true" [paginator]="true" [rows]="6">
              <ng-template pTemplate="caption">
                Pedidos
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
                  <th>Detalles</th>
                  <th>Factura</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns">
                    <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                    <ng-template #normal_content>

                      <ng-container *ngIf="col.header == 'Total' || col.header == 'Descuento'">
                        <span class="ui-column-title">{{col.header}}</span>
                        {{"$"+(rowData[col.field]| number:'1.2-2')}}
                      </ng-container>

                      <ng-container *ngIf="col.header != 'Total' && col.header != 'Descuento'">
                        <span class="ui-column-title">{{col.header}}</span>
                        {{rowData[col.field]}}
                      </ng-container>


                    </ng-template>
                    <ng-template #nested_object_content>

                      <span class="ui-column-title">{{col.header}}</span>
                      {{rowData[col.field][col.subfield]}}

                    </ng-template>
                  </td>
                  <td><button (click)="abrirModal(rowData['id'])" class="btn btn-block btn-primary" [value]="rowData['id']" label="Show">Ver</button></td>
                  <td *ngIf="rowData['estado']['nombre']=='Finalizado'"><button [routerLink]="['/factura/'+rowData['id']]" class="btn btn-success btn-block">Ver</button></td>
                  <td *ngIf="rowData['estado']['nombre']!='Finalizado'"><button [routerLink]="['/factura/'+rowData['id']]" class="btn btn-danger btn-block" disabled>No</button></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="summary">
                Hay {{pedidos?.length}} pedidos
              </ng-template>
            </p-table>

            <p-dialog header="Detalles" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
                      [baseZIndex]="10000">

              <p-table [columns]="cols2" [value]="pedido.detalle" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td> {{"x"+rowData['cantidad']}} </td>
                    <td *ngIf="rowData['plato'] != null"> {{rowData['plato']['nombre']}} </td>
                    <td *ngIf="rowData['articulo'] != null"> {{rowData['articulo']['nombre']}} </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                  Hay {{pedido.detalle?.length}} detalles
                </ng-template>
              </p-table>

              <p-footer>
                <div align="rigth">
                  <button class="btn btn-danger btn-sm" (click)="display=false" label="Cerrar">Cerrar</button>
                </div>
              </p-footer>
            </p-dialog>

          </div>

        </div>

      </div>

    </div>

</div>


