<hr>
<hr>
<br>

<div class="container">

  <div class="card">

    <div class="card-body">

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2" align="center">
            <br>
            <table class="table table-borderless text-center">
              <tbody>
              <tr>
                <td>

                  <img
                    src="https://img.freepik.com/vector-gratis/lado-soleado-arriba-huevo-frito-grafico-ilustracion_53876-9119.jpg?size=338&ext=jpg"
                    class="card-img-top rounded-circle img-thumbnail" alt="...">

                </td>
              </tr>
              <tr>

                <h6>{{cliente.email}}</h6>

              </tr>
              <tr>

                <br>
                <button type="button" class="btn btn-success btn-lg btn-block" routerLink="/user/perfil">EDITAR</button>
                <br>

              </tr>
              <tr>

                <button type="button" class="btn btn-danger btn-lg btn-block" routerLink="/user/perfil/pedidos" disabled="true">PEDIDOS</button>

              </tr>
              </tbody>
            </table>

          </div>
          <div class="col-md-8">

            <p-table [columns]="cols" [value]="pedidos" [responsive]="true" [paginator]="true" [rows]="6">
              <ng-template pTemplate="caption">
                Pedidos
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                  <th>Detalles</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns">
                    <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
                    <ng-template #normal_content>

                      <span class="ui-column-title">{{col.header}}</span>
                      {{rowData[col.field]}}

                    </ng-template>
                    <ng-template #nested_object_content>

                      <span class="ui-column-title">{{col.header}}</span>
                      {{rowData[col.field][col.subfield]}}

                    </ng-template>
                  </td>
                  <td><button class="btn btn-block btn-primary" [value]="rowData['id']">Ver Más</button></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="summary">
                Hay {{pedidos?.length}} pedidos
              </ng-template>
            </p-table>

          </div>

        </div>

      </div>

    </div>

</div>
