<br><br><br>

<div class="container">
  <br>
  <div class="row">






    <div class="col-md-12">

      <p-toast position="center" key="mensajeConfirmacion" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-6" *ngIf="!esEliminar">
              <button type="button" pButton (click)="guardar()" label="Si" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6" *ngIf="esEliminar">
              <button type="button" pButton (click)="eliminar()" label="Si ,Deseo eliminar" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
              <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>








      <p-toast [style]="{marginTop: '80px'}" position="top-center" key="toastArticulo"></p-toast>



      <p-table  [columns]="columnas"  [value]="articuloCategoria" selectionMode="single" (onRowSelect)="filaSeleccionada($event)" [(selection)]="articuloSeleccionado"   [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
          Categoria de Articulos
        </ng-template>
        <ng-template pTemplate="header" let-columnas>
          <tr>
            <th *ngFor="let columna of columnas" [pSortableColumn]="columna.field">
              {{columna.header}}
              <p-sortIcon [field]="columna.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-dataFila let-columnas="columns">
          <tr [pSelectableRow]="dataFila">
            <td *ngFor="let columna of columnas">
              {{dataFila[columna.field]}}
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary" let-dataFila>
          <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Agregar"></button>
          </div>
        </ng-template>
      </p-table>

      <p-dialog header="Detalle de la Categoria" [(visible)]="mostrarDialogo" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
        <div class="ui-g ui-fluid" *ngIf="articulo">
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="id">ID</label>
            </div>
            <div class="ui-g-8">
              <input  pInputText id="id"  readonly="readonly" disabled="disabled" [(ngModel)]="articulo.id" />
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="nombre">Nombre</label>
            </div>
            <div class="ui-g-8">
              <input pInputText id="nombre" [(ngModel)]="articulo.nombre" pTooltip="Nombre de la categoria" />
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="descripcion">Descripcion</label>
            </div>
            <div class="ui-g-8">

              <textarea pInputTextarea id="descripcion" autoResize="autoResize" [(ngModel)]="articulo.descripcion" pTooltip="Una breve descripcion de la categoria" ></textarea>
            </div>
          </div>
        </div>
        <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button " class="ui-button-rounded ui-button-danger" pButton icon="fa fa-close" (click)="eliminarConfirm()" label="Eliminar"></button>
            <button type="button"  class="ui-button-rounded ui-button-success" pButton icon="fa fa-check" (click)="guardarConfirm()" label="Guardar"></button>
          </div>
        </p-footer>
      </p-dialog>

    <br>


    </div>


  </div>
</div>

