<!-- BOTON PARA ABRIR EL CARRITO -->
<button pButton type="button" style=margin-right:inherit  (click)="this.carritoComponent.carritoMenu = true" label="Mi Carrito" ><i class="fa fa-shopping-cart"></i></button>
<p-dataView #dv [value]="platos"
            filterBy="categoria.nombre,nombre"
            [paginator]="true"
            [rows]="8"
            [totalRecords]="cantidadPlatos"
            layout="grid">

  <p-header>
    <h2 align="center">Catalogo de Platos</h2>
    <div class="ui-helper-clearfix">
      <div class="ui-g">

        <div class="ui-g-6 ui-md-5 filter-container">

          <div style="position:relative">
            <input type="search" class="form-control form-control-lg form-control-borderless" pInputText
                   placeholder="¿Que estas buscando para comer? " (keyup)="dv.filter($event.target.value)">

          </div>
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">

        </div>
      </div>
    </div>

  </p-header>


  <ng-template let-platos pTemplate="gridItem" class="gridItemDataView">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-card [header]="platos.nombre"  [subheader]="platos.categoria.nombre" [style]="{width: '200px' , height: '400px'}" >
        <p-header>
          <img src={{platos.imagen.url}} style="height: 150px" >

        </p-header>


        <div class="plato-detalle">Tiempo estimado:{{platos.tiempoPreparacion}} minutos</div>
        <div class="plato-detalle"><b>Precio : $ {{platos.precio}}</b></div>
        <hr class="ui-widget-content" style="border-top:0">
        <p-footer>
        <div class="btn-group ">

          <button type="button" id={{platos.nombre}} class="btn-info" placement="top" (click)="obtenerInformacion(platos)"
                  ngbPopover="{{informacion}}" popoverTitle="{{platos.nombre}} contiene">
            Descripcion
          </button>
          <button type="button" (click)="mandarPlato(platos,'F')"  class="btn btn-success"><i class="fa fa-cart-plus"></i></button>
        </div>
        </p-footer>
      </p-card>
    </div>
  </ng-template>


</p-dataView>

<br>

<p-dataView  layout="grid" #dataViewBebidas  [value]="articulosVenta"  [totalRecords]="cantidadArticulos" [paginator]="true" [rows]="8"  filterBy="nombre,categoria.nombre" >
  <p-header>
    <h2 align="center">Bebidas</h2>
    <div class="ui-helper-clearfix">
      <div class="ui-g">


        <div class="ui-g-6 ui-md-5 filter-container">

          <div style="position:relative">
            <input type="search" class="form-control form-control-lg form-control-borderless" pInputText
                   placeholder="Busca por nombre o categoria.. " (keyup)="dataViewBebidas.filter($event.target.value)">

          </div>
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">

        </div>
      </div>
    </div>
  </p-header>

  <ng-template let-articulo pTemplate="gridItem">

    <p-card *ngIf="articulo.stock > 0" [header]="articulo.nombre" [subheader]="articulo.categoria.nombre" [style]="{width: '155px'}"  >
      <p-header>
        <img src="{{articulo.imagen.url}}">
      </p-header>
      <div><h6><b>Precio: ${{articulo.precioVenta}}</b></h6> </div>
      <p-footer>
        <div class="btn-group ">

          <button type="button" id={{articulo.nombre}} class="btn-info" placement="top"
                  ngbPopover="{{articulo.descripcion}}" popoverTitle="{{articulo.nombre}}">
           Descripcion
          </button>
          <button type="button" class="btn btn-success" (click)="mandarPlato(articulo,'T')"><i class="fa fa-cart-plus"></i></button>
        </div>
      </p-footer>
    </p-card>

  </ng-template>
</p-dataView>

<!-- TOAST QUE INDICARA A UN USUARIO QUE DEBE REGISTRARSE PARA AGREGAR COSAS AL CARRITO-->

<p-toast [style]="{marginTop: '80px'}" key="avisoRegistro" position="top-center"></p-toast>

<p-toast [style]="{marginTop: '80px'}" key="platoAgregado" position="top-right"></p-toast>

<p-toast [style]="{marginTop: '80px'}" key="pedidoConfirmado" position="top-center"></p-toast>



<!-- CARRITO (HTML PUESTO EN CATALOGO, TS EN CARRITO.COMPONENT)-->
<p-sidebar [(visible)]="this.carritoComponent.carritoMenu" position="right"  styleClass="ui-sidebar-md" [baseZIndex]="150000">



  <h5 style="font-weight:normal ; align:center">Tu Carrito en A GOOD TASTE</h5>

  <p-table [value]="this.carritoComponent.platosEnCarrito" [responsive]="true" [scrollable]="true" scrollHeight="100px">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio Plato</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-plato>
      <tr>
        <td *ngIf="!plato.esArticulo">{{plato.plato.nombre}}</td>
        <td *ngIf="plato.esArticulo">{{plato.articulo.nombre}}</td>
        <td>
          <div class="row text-center">
            <div class="col-4">
              <button pButton type="button" class="ui-button-danger" style='width:25px; height:25px' (click)=this.carritoComponent.restarCantidad(plato)>-</button>
            </div>
            <div class="col-4">
              <b>{{plato.cantidad}}</b>
            </div>
            <div class="col-4">
              <button pButton type="button" class="ui-button-success" style='width:25px; height:25px' (click)=this.carritoComponent.sumarCantidad(plato)>+</button>
            </div>
          </div>

        </td>
        <td *ngIf="!plato.esArticulo">{{plato.plato.precio * plato.cantidad | number:'1.2-2'}}</td>
        <td *ngIf="plato.esArticulo">{{plato.articulo.precioVenta * plato.cantidad | number:'1.2-2'}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" class="text-right">
      <!-- TOTAL -->
      <label class="text-right" style="font-weight:bold" *ngIf="this.carritoComponent.tipoEnvio == 'local'">TOTAL: ${{this.carritoComponent.total * 0.90 | number:'1.2-2'}}</label>
      <label class="text-right" style="font-weight:bold" *ngIf="this.carritoComponent.tipoEnvio == 'delivery'" >TOTAL: ${{this.carritoComponent.total | number:'1.2-2'}}</label>
      <hr>
      <table class="table table-striped table-bordered">
        <tr>
          <th colspan="2">Tipo de retiro</th>
        </tr>
        <tr>
          <td>
            <p-radioButton name="tipoEnvio" value="local" label="Retiro Local - 10%" [(ngModel)]="this.carritoComponent.tipoEnvio" inputId="opt1"></p-radioButton>
          </td>
          <td>
            <p-radioButton name="tipoEnvio" value="delivery" label="Delivery " [(ngModel)]="this.carritoComponent.tipoEnvio" inputId="opt2"></p-radioButton>
          </td>
        </tr>
      </table>
      <hr>
      <!-- BOTONES DEL CARRITO-->
      <table class="table table-borderless">
        <tr>
          <td>
            <button *ngIf="this.carritoComponent.estaLogueado" type="button" (click)="mandarPedido()" label="Confirmar pedido" class="btn btn-success btn-block" [disabled]="this.carritoComponent.platosEnCarrito.length==0">CONFIRMAR</button>
          </td>
          <td>
            <button *ngIf="this.carritoComponent.estaLogueado" type="button" (click)="limpiarCarrito()" label="Limpiar Carrito" class="btn btn-danger btn-block">LIMPIAR</button>
          </td>
          <td>
            <button type="button" (click)="this.carritoComponent.carritoMenu = false" label="Cerrar" class="btn btn-secondary btn-block">CERRAR</button>
          </td>
        </tr>
      </table>
    </ng-template>
  </p-table>

  <table class="table table-striped table-bordered">
    <tr>
      <th colspan="2">
        <h6><b>Horarios</b></h6>
      </th>
    </tr>
    <tr>
      <th>Lunes a Viernes</th>
      <th>Sabados y Domingos</th>
    </tr>
    <tr>
      <td>20:00 a 12:00</td>
      <td>20:00 a 15:00</td>
    </tr>
  </table>

  <!-- DIALOGO FUERA DE HORARIO -->
  <p-toast [style]="{marginTop: '80px'}" key="horario" position="top-center"></p-toast>
  <!-- DIALOGO PARA CONFIRMAR QUE SE QUIERE REALIZAR EL PEDIDO-->
  <p-confirmDialog header="Confirmar" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</p-sidebar>




