<br><br><br>

<div class="container">
  <br>
  <div class="row">

    <ng-template #content let-modalPlatoCategoria>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar plato Categoria</h4>
        <button type="button" class="close" aria-label="Cerrar" (click)="modalPlatoCategoria.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formCategoriaPlato">
          <div class="form-group">
            <div class="input-group">
            <input class="form-control" type="hidden" id="id" name="id">
            </div>
          </div>

          <div class="form-group">

            <label for="nombre">Nombre Categoria de plato :</label>
            <div class="input-group">
              <input type ="text" id="nombre" name="nombre" [(ngModel)]="nombre" class="form-control" placeholder="Ejemplo : Lomos" >
            </div>
          </div>
          <div class="form-group">
            <label for="porcentajeGanancia">Pocentaje ganancia de plato :</label>
            <div class="input-group">
                <input type="number" id="porcentajeGanancia"  name="porcentajeGanancia" [(ngModel)]="porcentajeGanancia" class="form-control" placeholder="Ej: 10  o 15 o 25  , Solo numeros">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modalPlatoCategoria.close()">Enviar</button>
      </div>
    </ng-template>


    <button class="btn btn-lg  btn-info" (click)="abrirModal(content)">Agregar Categoria de articulos</button>




    <div class="col-md-12">




      <!-- AQUI EMPIZA EL PRIME NG TABLE -->
      <h1 align="center" class="first">Categoria de Platos</h1>
      <p-table [value]="platoCategoria">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Porcentaje ganancia de plato</th>
            <th>Accion</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-platoCategoria>
          <tr>
            <td>{{platoCategoria.nombre}}</td>
            <td>{{platoCategoria.porcentajeGanancia}}</td>
            <td>
              <button class="btn btn-sm  btn-danger" id="eliminar" value="{{platoCategoria.id}}" >Eliminar ID: {{platoCategoria.id}} </button>

              <button class="btn btn-sm  btn-info" id="modificar" value="{{platoCategoria.id}}" >Modificar ID: {{platoCategoria.id}} </button>
            </td>

          </tr>
        </ng-template>
      </p-table>
      <br>
    </div>


  </div>
</div>

