<br><br><br>

<div class="container">
  <br>
  <div class="row">


    <div class="col-md-12">
      <p-toast [style]="{marginTop: '80px'}" position="top-center" key="toastPlatoCategoria"></p-toast>
      <p-table [columns]="columnas" [value]="platoCategoria" selectionMode="single" [(selection)]="platoSeleccionado" (onRowSelect)="filaSeleccionada($event)" [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
          Categoria de Platos

        </ng-template>
        <ng-template pTemplate="header" let-columnas>
          <tr>
            <th *ngFor="let columna of columnas" [pSortableColumn]="columna.field" >

              {{columna.header}}
              <p-sortIcon  [field]="columna.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-filaDatos let-columnas="columns">
          <tr [pSelectableRow]="filaDatos">
            <td *ngFor="let columna of columnas">
              {{filaDatos[columna.field]}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-filaDatos>
          <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" class="ui-button-rounded" (click)="showDialogToAdd()" label="Agregar"></button>
          </div>
        </ng-template>
      </p-table>

      <p-dialog header="Detalle de Categoria" [(visible)]="mostrarDialogo" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
        <div class="ui-g ui-fluid" *ngIf="plato">
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="id">Id</label>
            </div>
            <div class="ui-g-8">
              <input pInputText readonly="readonly" disabled="disabled" id="id" [(ngModel)]="plato.id" pTooltip="Id Solo de lectura"   />
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="nombre">Nombre</label>
            </div>
            <div class="ui-g-8">
              <input pInputText id="nombre" [(ngModel)]="plato.nombre" pTooltip="Nombre de la categoria"   />
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-4">
              <label for="porcentajeGanancia">Porcentaje Ganancia</label>
            </div>
            <div class="ui-g-8">
              <input pInputText id="porcentajeGanancia" [(ngModel)]="plato.porcentajeGanancia" pTooltip="Porcentaje de ganancia de tu categoria"   />
            </div>
          </div>

        </div>
        <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" class="ui-button-rounded ui-button-danger" (click)="eliminar()" label="Eliminar"></button>
            <button type="button" pButton icon="fa fa-check" class="ui-button-rounded ui-button-success" (click)="guardar()" label="Guardar"></button>
          </div>
        </p-footer>
      </p-dialog>



      <br>
    </div>




  </div>
</div>

