
            <button  role="button"     class="btn btn-info list-inline-item" id="todas" name="todas" >
                TODAS
            </button>
          <button  role="button"  *ngFor = "let categoriasTraidas of categorias ; let indice=index"  class="btn btn-info list-inline-item" id=  {{categorias[indice].id} name=  {{categorias[indice].nombre}}} >
            {{categorias[indice].nombre.toUpperCase()}} 
          </button>
       
          
       
     
     

      
  
 
    
    
   
