<p-sidebar [(visible)]="carritoMenu" position="right"  styleClass="ui-sidebar-md" [baseZIndex]="150000">



  <h5 style="font-weight:normal ; align:center">Tu Carrito en A GOOD TASTE</h5>

  <p-table [value]="platosEnCarrito" [responsive]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>TOTAL</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-plato>
      <tr>
        <td>{{plato.plato.nombre}}</td>
        <td><button type="button" class="btn btn-danger" label="-" (click)=restarCantidad(plato)>-</button>{{plato.cantidad}}<button type="button" label="+" class="btn btn-success" (click)=sumarCantidad(plato)>+</button></td>
        <td>{{total}}</td>
      </tr>
    </ng-template>

  </p-table>
  <div class="form-check">
  <input type="radio" [(ngModel)]="formato" name="formato" value="delivery"> Envio a domicilio<br>
  <input type="radio" [(ngModel)]="formato" name="formato" value="parallevar"> Retiro local<br>
  </div>
   <br>
  <button pButton type="button" (click)="carritoMenu = false" label="Save" class="ui-button-success"></button>
  <button pButton type="button" (click)="carritoMenu = false" label="Cancel" class="ui-button-secondary"></button>
</p-sidebar>


<button pButton type="button" (click)="carritoMenu = true" label="Mi Carrito" ><i class="fa fa-shopping-cart"></i></button>

