<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand"><img
    src="../../../assets/kisspng-taste-computer-icons-5ae0d4c2329837.7517488815246839702072.png" height="40"
    width="40 "/> </a>
  <a class="navbar-brand" routerLink="catalogo/lista">{{app_name}}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item" >
          <a class="nav-link" routerLink="catalogo/lista" >Catálogo
          </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" *ngIf="isLogged  && esAdmin ">
      <div class="dropdown show">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administrar
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuAdmin">
          <a class="dropdown-item" routerLink="/usuarioAdministrador/usuarioCliente">Seccion Usuarios </a>
          <a class="dropdown-item" routerLink="/usuarioAdministrador/plato">Seccion Plato </a>
          <a class="dropdown-item" routerLink="/usuarioAdministrador/articulo">Seccion Articulo </a>
          <a class="dropdown-item" routerLink="/usuarioAdministrador/articuloCategoria">Seccion Articulo Categoria  </a>
          <a class="dropdown-item" routerLink="/usuarioAdministrador/platoCategoria">Seccion Plato Categoria </a>

        </div>
      </div>
      </li>

      <li class="nav-item" *ngIf="isLogged  && esAdmin ">
        <div class="dropdown show">
          <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuEstadisticas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Reportes estadisticos
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuAdmin">
            <a class="dropdown-item" routerLink="/usuarioAdministrador/estadisticasComidas">Comidas Mas Pedidas </a>
            <a class="dropdown-item" routerLink="/usuarioAdministrador/estadisticasStock">Stock </a>
            <a class="dropdown-item" routerLink="/usuarioAdministrador/estadisticasUsuarios">Usuarios registrados en Web </a>


          </div>
        </div>
      </li>

      <li class="nav-item" *ngIf="esCocinero">
        <a class="nav-link" routerLink="cocina"> Cocina
        </a>
      </li>

      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/user/register"> Registrarme
        </a>
      </li>

      <li class="nav-item" *ngIf="isLogged && !esAdmin ">
        <a class="nav-link" routerLink="/user/perfil"> <i class="fa fa-user"></i> Mi Perfil : {{emailLogeado}}</a>
      </li>
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/user/login">Acceder
        </a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a href="#" class="nav-link" (click)="onLogout()"> <i class="fas fa-sign-out-alt"></i> Salir de mi cuenta
        </a>
      </li>
    </ul>
  </div>
</nav>
