<br><br><br>
<div class="container">
  <br>
  <div class="row">
    <p-table [columns]="columnas" [value]="articulos" selectionMode="single" [(selection)]="articuloSeleccionado" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
      <ng-template pTemplate="caption">
        Articulos
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let columna of columns" [pSortableColumn]="columna.field">
            {{columna.header}}
            <p-sortIcon [field]="columna.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td> {{rowData.id}}</td>
          <td> {{rowData.nombre}}</td>
          <td> {{rowData.descripcion}}</td>
          <td> {{rowData.precioCompra}}</td>
          <td> {{rowData.precioVenta}}</td>
          <td> {{rowData.stock}}</td>
          <td> {{rowData.stockMinimo}}</td>
          <td> {{rowData.stockMaximo}}</td>
          <td> {{rowData.esInsumo}} </td>
          <td> {{rowData.categoria.nombre}}</td>
          <td> {{rowData.unidadMedida.nombre}}</td>
          <td> <img src={{rowData.imagen.url}} style=" width: 40px; height: 40px"> </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="mostrarAgregar()" label="Agregar"></button>
        </div>
      </ng-template>
    </p-table>


    <p-dialog header="Detalle Articulo"   [(visible)]="mostrarDialogo" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '800px' , height : '450px' , overflow: 'auto' }">
      <div class="ui-lg ui-fluid" *ngIf="articulo">
        <div class="ui-g-12">

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >ID</span>
            </div>
            <input type="text" class="form-control" id="id" placeholder="Id registrado" [(ngModel)]="articulo.id" required>
          </div>

        </div>
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Nombre</span>
            </div>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" [(ngModel)]="articulo.nombre" required>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Descripcion</span>
            </div>
            <input type="text" class="form-control" id="descripcion" placeholder="Descripcion articulo" [(ngModel)]="articulo.descripcion" required>
          </div>
        </div>

          <div class="ui-g-12 ">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" >Precio Compra</span>
              </div>
              <input type="text" class="form-control" id="precioCompra" placeholder="Precio compra $" [(ngModel)]="articulo.precioCompra" required>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" >Precio Venta</span>
              </div>
              <input type="text" class="form-control" id="precioVenta" placeholder="Precio Venta" [(ngModel)]="articulo.precioVenta" required>
            </div>
          </div>

        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Stock Actual</span>
            </div>
            <input type="text" class="form-control" id="stock" placeholder="Stock Actual" [(ngModel)]="articulo.stock" required>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Stock Minimo</span>
            </div>
            <input type="text" class="form-control" id="stockMinimo" placeholder="StockMinimo" [(ngModel)]="articulo.stockMinimo" required>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Stock Maximo</span>
            </div>
            <input type="text" class="form-control" id="stockMaximo" placeholder="Stock Maximo" [(ngModel)]="articulo.stockMaximo" required>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Es Insumo</span>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="esInsumo" id="si" value="true" [checked]="articulo.esInsumo == true">
              <label class="form-check-label" for="si">
               SI
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="esInsumo" id="no" value="false" [checked]="articulo.esInsumo == false">
              <label class="form-check-label" for="no">
                NO
              </label>
            </div>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Unidad Medida</span>
            </div>
            <select class="form-control form-control-lg" >

              <option   *ngFor=" let unidadMedida of unidadMedidas "  [selected]="unidadMedida.id == articulo.unidadMedida.id"
                        value={{unidadMedida.id}}>{{unidadMedida.nombre}}  </option>


            </select>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Categoria</span>
            </div>
            <select class="form-control form-control-lg" >

                <option   *ngFor=" let categoria of categorias "  [selected]="categoria.id == articulo.categoria.id"
                          value={{categoria.id}}>{{categoria.nombre}}  </option>


            </select>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" >Imagen</span>
          </div>
          <input  type="text" class="form-control" id="imagen" placeholder="Imagen URL" [(ngModel)]="articulo.imagen.url" required>

        </div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-close" (click)="eliminar()" label="Eliminar"></button>
          <button type="button" pButton icon="fa fa-check" (click)="guardar()" label="Guardar"></button>
        </div>
      </p-footer>
    </p-dialog>





      <br>
    </div>
  </div>

