<br><br><br>
<div class="container">
  <br>
  <div class="row">

    <div class="col-md-14">

      <p-toast position="center" key="mensajeConfirmacion" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-6" *ngIf="!esEliminar">
              <button type="button" pButton (click)="guardar()" label="Si" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6" *ngIf="esEliminar">
              <button type="button" pButton (click)="eliminar()" label="Si ,Deseo eliminar" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
              <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>








      <p-toast [style]="{marginTop: '80px'}" position="top-center" key="toastArticulo"></p-toast>
    <p-table  [autoLayout]="true" align="center" [columns]="columnas" [value]="articulos" selectionMode="single" [(selection)]="articuloSeleccionado" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
      <ng-template pTemplate="caption">
        Articulos
      </ng-template>
      <ng-template pTemplate="header" let-columns align="center">
        <tr>
          <th *ngFor="let columna of columns" [pSortableColumn]="columna.field">
            {{columna.header}}
            <p-sortIcon [field]="columna.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" align="center">
          <td> {{rowData.id}}</td>
          <td> {{rowData.nombre}}</td>
          <td> {{rowData.descripcion}}</td>
          <td> {{rowData.precioCompra}}</td>
          <td> {{rowData.precioVenta}}</td>
          <td> {{rowData.stock}}</td>
          <td> {{rowData.stockMinimo}}</td>
          <td> {{rowData.stockMaximo}}</td>
          <td>
            <ng-template [ngIf]="rowData.esInsumo == true ">
              Si
            </ng-template>
            <ng-template  [ngIf]="rowData.esInsumo == false ">
              No
            </ng-template>
          </td>

          <td> {{rowData.categoria.nombre}}</td>
          <td> {{rowData.unidadMedida.nombre}}</td>
          <td> <img src={{rowData.imagen.url}} style=" width: 40px; height: 40px"> </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="mostrarAgregar()" label="Agregar"></button>
        </div>
      </ng-template>
    </p-table>


    <p-dialog header="Detalle Articulo"   [(visible)]="mostrarDialogo" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '800px' , height : '450px' , overflow: 'auto' }">
      <div class="ui-lg ui-fluid" *ngIf="articulo">
        <div class="ui-g-12">

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >ID</span>
            </div>
            <input type="text" class="form-control" id="id" placeholder="Id registrado" [(ngModel)]="articulo.id" readonly>
          </div>

        </div>
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Nombre</span>
            </div>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" [(ngModel)]="articulo.nombre" required>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Descripcion</span>
            </div>
            <input type="text" class="form-control" id="descripcion" placeholder="Descripcion articulo" [(ngModel)]="articulo.descripcion" required>
          </div>
        </div>

          <div class="ui-g-12 ">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" >Precio Compra</span>
              </div>
              <input type="number" class="form-control" id="precioCompra" placeholder="Precio compra " [(ngModel)]="articulo.precioCompra" required>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" >Precio Venta</span>
              </div>
              <input type="number" class="form-control" id="precioVenta" placeholder="Precio Venta" [(ngModel)]="articulo.precioVenta" required>
            </div>
          </div>

        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Stock Actual</span>
            </div>
            <input type="number" class="form-control" id="stock" placeholder="Stock Actual" [(ngModel)]="articulo.stock" required>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Stock Minimo</span>
            </div>
            <input type="number" class="form-control" id="stockMinimo" placeholder="StockMinimo" [(ngModel)]="articulo.stockMinimo" required>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Stock Maximo</span>
            </div>
            <input type="number" class="form-control" id="stockMaximo" placeholder="Stock Maximo" [(ngModel)]="articulo.stockMaximo" required>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Es Insumo</span>
            </div>
            <div class="form-check">
              <input class="form-check-input" [(ngModel)]="articulo.esInsumo"  type="radio" name="esInsumo" id="si" value="true" [checked]="articulo.esInsumo == true">
              <label class="form-check-label" for="si">
               SI
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" [(ngModel)]="articulo.esInsumo" name="esInsumo" id="no" value="false" [checked]="articulo.esInsumo == false">
              <label class="form-check-label" for="no">
                NO
              </label>
            </div>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Unidad Medida</span>
            </div>
            <select class="form-control form-control-lg" [(ngModel)]="articulo.unidadMedida.id" >

              <option   *ngFor=" let unidadMedida of unidadMedidas "  [selected]="unidadMedida.id == articulo.unidadMedida.id"
                        value={{unidadMedida.id}}>{{unidadMedida.nombre}}  </option>


            </select>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Categoria</span>
            </div>
            <select class="form-control form-control-lg" [(ngModel)]="articulo.categoria.id" >

                <option   *ngFor=" let categoria of categorias "  [selected]="categoria.id == articulo.categoria.id"
                          value={{categoria.id}}>{{categoria.nombre}}  </option>


            </select>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" >Imagen</span>
          </div>
          <input  type="text" class="form-control" id="imagen" placeholder="Imagen URL" [(ngModel)]="articulo.imagen.url" required>

        </div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button " *ngIf="!articuloNuevo" class="ui-button-rounded ui-button-danger" pButton icon="fa fa-close" (click)="eliminarConfirm()" label="Eliminar"></button>
          <button type="button"  class="ui-button-rounded ui-button-success" pButton icon="fa fa-check" (click)="guardarConfirm()" label="Guardar"></button>
        </div>
      </p-footer>
    </p-dialog>


<br>
</div>

      <br>
    </div>
  </div>

