<!-- Comienzo formulario registro -->
<br>
<br>
<br>
<br>

<div class="row">
  <div class="container">
    <div class="col-md-8">
      <br>
      <div class="card">
        <h5 class="card-header">REGISTRAR</h5>
        <div class="card-body">
          <form [formGroup]="registroUsuario" (ngSubmit)="registrar(registroUsuario.value)">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text"><img
                    src="https://img.icons8.com/material/24/000000/name.png"></span>
              </div>
              <!-- NOMBRE -->

              <div class="form-group">

                <input type="text"
                       name="nombre" pInputText
                       formControlName="nombre"
                       placeholder="Nombre*"
                       pTooltip="Ingrese nombre"
                       tooltipPosition="top">
              </div>


              <!-- APELLIDO -->
              <div class="form-group">

                <input type="text"
                       name="apellido" pInputText
                       formControlName="apellido"
                       placeholder="Apellido*"
                       pTooltip="Ingrese apellido"
                       tooltipPosition="top">
              </div>
            </div>


            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text"><img
                    src="https://img.icons8.com/ios/24/000000/secured-letter-filled.png"></span>
              </div>
              <!-- EMAIL -->
              <div class="form-group">
                <div>
                  <input type="email"
                         name="email"
                         formControlName="email"
                         placeholder="Correo Electronico*"
                         pTooltip="Ingrese Email"
                         tooltipPosition="top">
                </div>
                <p-message severity="error" text="Campo requerido"
                           [text]="registroUsuario.controls['email'].errors['required'] ? 'Campo requerido' :''"
                           *ngIf="!registroUsuario.controls['email'].valid&&registroUsuario.controls['email'].dirty"></p-message>
              </div>
            </div>


            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text"><img
                    src="https://img.icons8.com/material-rounded/24/000000/password.png"></span>
              </div>
              <!-- PASSWORD -->
              <div class="form-group">
                <div>
                  <input type="password"
                         name="password"
                         formControlName="password"
                         placeholder="Contraseña*"
                         pTooltip="Ingrese contraseña"
                         tooltipPosition="top">
                  <p-message severity="error"
                             [text]="registroUsuario.controls['password'].errors['required'] ? 'Contraseña requerida' : registroUsuario.controls['password'].errors['minlength'] ? 'Debe tener mas de 6 caracteres' : ''"
                             *ngIf="!registroUsuario.controls['password'].valid&&registroUsuario.controls['password'].dirty"></p-message>
                </div>
              </div>

            </div>


            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text"><img
                    src="https://img.icons8.com/ios/24/000000/cell-phone-filled.png"></span>
              </div>

              <!-- TELEFONO -->
              <div class="form-group">
                <div>
                  <input
                    type="number"
                    name="telefono"
                    formControlName="telefono"
                    placeholder="Telefono*"
                    max="9999999999"
                    pTooltip="Ingrese telefono"
                    tooltipPosition="top">

                  <p-message severity="error"
                             [text]="registroUsuario.controls['telefono'].errors['required'] ? 'Campo requerido' : registroUsuario.controls['telefono'].errors['minlength'] ? 'Mas de 6 numeros' : ''"
                             *ngIf="!registroUsuario.controls['telefono'].valid&&registroUsuario.controls['telefono'].dirty"></p-message>

                </div>
              </div>
            </div>


            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text"><img
                    src="https://img.icons8.com/ios/24/000000/identity-theft-filled.png"></span>
              </div>
              <!-- DNI -->
              <div class="form-group">
                <div>
                  <input type="text"
                         name="dni"
                         formControlName="dni"
                         placeholder="DNI*"
                         maxlength="10"
                         pTooltip="Ingrese DNI"
                         tooltipPosition="top">
                </div>
                <p-message severity="error"
                           [text]="registroUsuario.controls['dni'].errors['required'] ? 'Campo requerido' : registroUsuario.controls['dni'].errors['minlength'] ? 'Debe tener mas de 6 numeros' : ''"
                           *ngIf="!registroUsuario.controls['dni'].valid&&registroUsuario.controls['dni'].dirty"></p-message>

              </div>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text"><img
                    src="https://img.icons8.com/ios/24/000000/birth-date-filled.png"></span>
              </div>

              <!-- FECHA DE NACIMIENTO -->
              <div class="form-group">
                <div>
                  <input type="date"
                         name="fechaNacimiento"
                         formControlName="fechaNacimiento"
                         placeholder="Fecha Nacimiento*"
                         pTooltip="Ingrese Fecha de Nacimiento"
                         tooltipPosition="top"
                         max="2010-12-31">

                  <p-message severity="error"
                             [text]="registroUsuario.controls['fechaNacimiento'].errors['required'] ? 'Campo requerido' : ''"
                             *ngIf="!registroUsuario.controls['fechaNacimiento'].valid&&registroUsuario.controls['fechaNacimiento'].dirty"></p-message>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text"><img
                    src="https://img.icons8.com/color/24/000000/gender.png"></span>
              </div>

              <div class="card text-center">

                <!-- SEXO -->
                <div class="form-group">
                  <label>SEXO</label><br>


                  <input type="radio"
                         name="sexo"
                         value="Masculino"
                         formControlName="sexo"><i>Masculino</i>

                  <input type="radio"
                         name="sexo"
                         value="Femenino"
                         formControlName="sexo"><i>Femenino</i>
                </div>
                <p-message severity="error" text="Campo requerido"
                           *ngIf="!registroUsuario.controls['sexo'].valid&&registroUsuario.controls['sexo'].dirty"></p-message>

              </div>
            </div>





              <!-- PROVINCIA -->
              <div class="form-group">
                <div ng-app="myApp" ng-controller="provinciaCtrl">
                  <select name="provincia"
                          (change)="obtenerLocalidades($event)"
                          pTooltip="Seleccione Provincia"
                          tooltipPosition="top">
                    <option value="">Selecciona Provincia*</option>
                    <option [value]="provincia.id" *ngFor="let provincia of provincias">
                      {{provincia.nombre}}
                    </option>
                  </select>
                </div>
              </div>

              <!-- LOCALIDAD -->
              <div class="form-group" formGroupName="domicilio">
                <div class="form-group" formGroupName="localidad">
                  <div ng-app="selectLocalidad" ng-controller="localidadCtrl">
                    <select name="localidad"
                            formControlName="id"
                            pTooltip="Seleccione Localidad"
                            tooltipPosition="top">
                      <option value="">Selecciona Localidad*</option>
                      <ng-container *ngFor="let localidad of localidades">
                        <option [value]="localidad.id" *ngIf="localidad.provincia.id == fkProvinciaAuxiliar">
                          {{localidad.nombre}}
                        </option>

                      </ng-container>
                    </select>
                  </div>
                </div>



                <!-- NOMBRE CALLE-->
                <input type="text"
                       name="calle"
                       formControlName="calle"
                       placeholder="Calle*"
                       pTooltip="Ingrese Calle"
                       tooltipPosition="top">
              </div>

              <!-- NUMERO CALLE -->
              <div class="form-group" formGroupName="domicilio">
                <input type="number"
                       name="numero"
                       formControlName="numero"
                       placeholder="Numero Calle*"
                       pTooltip="Ingrese numero de calle"
                       tooltipPosition="top">

              </div>

              <!-- NUMERO PISO -->
              <div class="form-group" formGroupName="domicilio">
                <input type="number"
                       name="piso"
                       formControlName="piso"
                       placeholder="N° PISO"
                       pTooltip="N° Piso"
                       tooltipPosition="top">
              </div>
              <!-- Departamento -->
              <div class="form-group" formGroupName="domicilio">
                <input type="number"
                       name="departamento"
                       formControlName="departamento"
                       placeholder="N° Depto"
                       pTooltip="N° Departamento"
                       tooltipPosition="top">
              </div>

              <!-- CP -->
              <div class="form-group" formGroupName="domicilio">
                <input type="number"
                       name="cp"
                       formControlName="cp"
                       placeholder="Codigo Postal*"
                       pTooltip="Ingrese Codigo Postal"
                       tooltipPosition="top">
              </div>




          </form>

          <button pButton type="submit" (click)="ngOnSubmit(registroUsuario.value)"
                  [disabled]="!registroUsuario.valid">Registrarse
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

