<br><br><br>

<div class="container">
  <br>
  <div class="row" align="center">


    <div class="col-md-12">
      <div class="card">

        <form class="example col-md-4" >
          <div class="form-group">
            <h6>Pedidos Entre las siguientes fechas</h6>
            <input type="date" class="form-control" placeholder="Buscar por fecha" name="search" [(ngModel)]="fechaInicio">
            <input type="date" class="form-control" placeholder="Buscar por fecha" name="search" [(ngModel)]="fechaFin">
            <button class="btn btn-outline-primary" type="submit"(click)="estadisticas(fechaInicio , fechaFin)"><i class="fa fa-search"></i>Buscar</button>
          </div>

        </form>
        <div class="card-body">
          <h5 class="card-title">Recaudacion por el periodo de tiempo</h5>
          <h6>Total de recaudaciones : $ {{totalRecaudado}}  </h6>
          <div style="background: white">
            <p-chart *ngIf="cargo" type="bar" [data]="datosEstadisticos"></p-chart>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br>
</div>
