<br><br><br>
<div class="container">
  <br>
<div class="row">

   <br>
  <div class="col-md-12">

    <p-toast position="center" key="mensajeConfirmacion" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
        <div style="text-align: center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
          <h3>{{message.summary}}</h3>
          <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
          <div class="ui-g-6" >
            <button type="button" pButton (click)="guardar()" label="Si" class="ui-button-success"></button>
          </div>

          <div class="ui-g-6">
            <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
          </div>
        </div>
      </ng-template>
    </p-toast>








    <p-toast [style]="{marginTop: '80px'}" position="top-center" key="toastArticulo"></p-toast>






















    <p-table [columns]="columnas" [value]="pedidos" selectionMode="single" [(selection)]="pedidoSeleccionado" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5">
      <ng-template pTemplate="caption">
        Lista de Pedidos
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let columna of columnas" [pSortableColumn]="columna.field">
            {{columna.header}}
            <p-sortIcon [field]="columna.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td>{{rowData.id}} </td>
          <td>{{rowData.fecha}} </td>
          <td>{{rowData.horaEstimadaFin}} </td>
          <td>
            <button type="button" pButton icon="fa fa-plus" (click)="mostrarDetalle()" label="Ver Detalle"></button>

          </td>
          <td *ngIf="rowData.estado.nombre == 'En cocina' " style="background: cyan" > {{rowData.estado.nombre}} <i class="fa fa-spinner"></i> </td>
          <td *ngIf="rowData.estado.nombre == 'Demorado' "  style="background: red" > {{rowData.estado.nombre}} <i class="fa fa-user-clock"></i>  </td>
          <td *ngIf="rowData.estado.nombre == 'En facturación' "  style="background: orange" > {{rowData.estado.nombre}} <i class="fa fa-paste"></i>  </td>
          <td *ngIf="rowData.estado.nombre == 'En delivery' "  style="background: springgreen" > {{rowData.estado.nombre}} <i class="fa fa-truck"></i>  </td>
            <td *ngIf="rowData.estado.nombre == 'Finalizado' " style="background: lawngreen" > {{rowData.estado.nombre}} <i class="fa fa-check"></i>  </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>

      </ng-template>
    </p-table>



    <p-dialog header="Modificar Estado Pedido" [(visible)]="mostrarDialogo" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '500px' , height: '500px'}">
      <div class="ui-g ui-fluid" *ngIf="pedido">
        <div class="ui-g-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >Numero Comanda</span>
            </div>

            <input pInputText id="id" [(ngModel)]="pedido.id" class="form-control" type="text"  readonly>
            <button class="btn btn-danger" (click)="cambiarEstado(pedido.id,'demorar')">Demorar 10'</button>
            <button class="btn btn-success" (click)="cambiarEstado(pedido.id,'finalizar')">Finalizar</button>

          </div>
        </div>

      </div>
      <p-footer>
          <button type="button" class="btn btn-danger" (click)="mostrarDialogo=false">CERRAR</button>
      </p-footer>
    </p-dialog>

<br>

    </div>
  </div>



</div>
