<br><br><br>

<div class="container">
  <br>
  <div class="row" align="center">


    <div class="col-md-12">
      <div class="card">

          <form class="example col-md-4" >
            <div class="form-group">
            <h6>Usuarios Despues de  la fecha</h6>
            <input type="date" class="form-control" placeholder="Buscar por fecha" name="search" [(ngModel)]="fecha">

              <button class="btn btn-outline-primary" type="submit"(click)="impedanciaEstadisticas(fecha)"><i class="fa fa-search"></i>Buscar</button>
            </div>

          </form>
        <div class="card-body">
          <h5 class="card-title">Clientes registrados por periodo de tiempo</h5>
          <h6>Registros totales : {{totalUsuarios}}</h6>
          <div style="background: white">
            <p-chart *ngIf="cargo" type="bar" [data]="datosEstadisticos"></p-chart>
          </div>
        </div>
      </div>
      <br>

       <div class="card">
         <div class="card-body">
      <p-table  [autoLayout]="true" [columns]="columnas" [value]="usuariosFiltrado" selectionMode="single"  [paginator]="true" [rows]="15">
        <ng-template pTemplate="caption">
          Usuarios Registrados en la web
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" >
              <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>

              <ng-template #normal_content>
                {{rowData[col.field]}}
              </ng-template>
              <ng-template #nested_object_content>
                {{rowData[col.field][col.subfield]}}
                {{rowData[col.field][col.thirdfield]}}
              </ng-template>

            </td>

          </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>

        </ng-template>
      </p-table>
         </div>
      </div>



    </div>
  </div>
  <br>
</div>
