/* You can add global styles to this file, and also import other style files */
body{
    background: url('http://s1.1zoom.me/b7168/698/Fast_food_Pizza_Wine_Stemware_512862_1280x720.jpg') no-repeat center center;
    background-size:100% 100%;
    background-size: cover;
    background-attachment: fixed;

}


